/*
Hidden Mobile
*/
@media (max-width: 992px) {
  .hidden-mobile {
    display: none;
  }
}
.imgform {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/*
Used for images responsives
*/
@media (min-width: 1920px) and (max-width: 2560px) {
  .image-responsive-lg{
    width: 450px !important;
  }
}

@media  (min-width: 1600px) and (max-width: 1919px) {
  .image-responsive-md{
    width: 450px !important;
  }
}

@media  (min-width: 1366px) and (max-width: 1599px) {
  .image-responsive-sm{
    width: 345px !important;
  }
}


/*
Round border in all components
*/
.border{
  border: 1px solid rgb(235, 237, 240);
  border-radius: 10px;
}


.button-near-account{
  background-color: rgb(39, 39, 41) !important;
  border-color: rgb(39, 39, 41) !important;
}

.button-near-account:hover{
  background-color: black;
  border-color: black;
}
